/* Fonte: color.adobe.com */
:root{
    --cor-1: #445EF2;
    --cor-2: #6B7FF2;
    --cor-3: #263973;
    --cor-4: #010E26;
    --cor-5:#05C7F2;
}
 /* * {
    background-color: var(--cor-4);
    color: var(--cor-2);
 } */

 html {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto; /* Centraliza horizontalmente */
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-2);
    color: var(--cor-4);
}

/* .page-wrapper {
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} */


p {
    text-indent: 1em;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

abbr {
    font-variant-caps: all-small-caps;
}

.intro {
    height: 550px;
}

header {
    background-color: var(--cor-4);
    color: var(--cor-2);
    padding: 1em;
    display: flex;
    flex-direction: row;
}

header h1 {
    padding: 1em;
}

header h2 {
    display: flex;
    align-items: center;
}
.summary {
    text-align: right;
}

.main p{
    line-height: 1.5;
}

.page-wrapper {
    position: static;
}

.explanation {
    width: 60%; 
    margin-right: 35%;
    border-right: 1px solid #1f295c; 
    padding-right: 2%;
}

.design-selection {
        position: absolute; 
        top: 560px;
        left: 62%; 
        padding: 0 2%; 

}

.sidebar h3 {
    text-align: center;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 1em;
}

#design-archives {
    display: none;
}

footer {
    background-color: var(--cor-4);
    color: var(--cor-2);
    margin-top: 4%; 
    margin-bottom: 4%;
    padding: 0.5em;
}

footer a {
    text-decoration: none;
    color: var(--cor-1);
    padding: 0.5em;
    border: 2px solid var(--cor-5);
}